.Dashboard-layout {
    width: 773px;
    height: 117px;
    /* top: 190px; */
    gap: 0px;
    opacity: 0px;
    font-family: Poppins;
    font-size: 36px;
    font-weight: 500;
    line-height: 54px;
    /* text-align: left; */
    color: #3E3E3E;
}

.taskButton {
    width: 182px;
    height: 64px;
    top: 190px;
    left: 1701px;
    gap: 0px;
    border-radius: 3px 0px 0px 0px;
    opacity: 0px;
    background: #0A66C2;
    color: #FFFFFF;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}